@import "./vars.scss";

.row {
  display: flex;
  font-size: 12px;
  flex-direction: row;
  min-height: 20px + 2 * $cellPadding;

  &:first-child {
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
  }

  &:nth-child(odd) {
    background-color: #eee;
  }

  .cell {
    display: flex;
    align-items: center;

    &:first-child {
      flex: 1;
      padding-left: $cellPadding;
    }

    &:not(:first-child) {
      width: 60px;
      justify-content: center;
      padding-right: $cellPadding;
    }

    span.value {
      padding: 2px 5px;
      color: #666;
      border-radius: 3px;
      text-align: center;
      &.medium {
        background-color: lighten(orange, 35%);
        color: #824d1e;
      }
      &.high {
        background-color: lighten(lightgreen, 5%);
        color: #1c611c;
      }
    }
  }

  &.header {
    background-color: $headerColor;
    .cell {
      &:first-child {
        color: #fff;
        font-weight: bold;
        font-size: 1.2em;
      }
      span.value {
        color: #fff;
        span {
          color: rgba(255, 255, 255, 0.6);
          font-size: 0.9em;
        }
      }
    }
  }
}
